html{}
body {
  width: 100%;
  background-color: #e3e3e3 !important;
  font-size: 26px;
}
.navbar-brand {color:#FFFFFF;}
.full-width-div {
    position: absolute;
    display:block;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #e3e3e3;
    margin-top:0px;

}

.Iframe
{   position: relative;
    width: 100%; 
    min-height: 56px;
    z-index: 3;
}

.image1{
  max-width: 100%;
  display: inline;
  margin-top: 40px;}

.container{
  margin-left: 15%;
  margin-right: 15%;
  background-color:#f5f3f3;
  width : 100%;
  position: relative;
}

}
.image2
{
max-width: 100%;
max-height: 100%;
}
.image3
{
max-width: 30%;
max-height: 30%;
float:right;
margin-left: 20px;
margin-bottom: 20px;
}

#headerx{
  width: 100%
}


/*--- navigation bar ---*/

input {
    text-align: right;
}

.navbar {
  background:#2e2f3d;
  width: 100%;

}





.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.col {
    background-color: #e3e3e3;
}

.col-6 {
    background-color: #f5f3f3;
}
span{

}

@media (max-width: 575.98px){



    .image1 {
      width: auto; /* width of container */
      height: 100px; /* height of container */
      overflow: hidden;
        margin-left: 0px;
        margin-right: 0px;
        object-fit: cover;
        display:center;
        max-width: 100%;

    }


  .image3
  {
  max-width: 50%;
  max-height: 50%;
  float:right;
  margin-left: 10px;
  margin-bottom: 8px;
  }
  body {  }}
  html{margin-top:-40px;
        overflow-x: hidden;}

@media (max-width: 978px) {
    body {  font-size: 20px;    }}

@media (min-width: 992px) {}
@media (min-width: 1200px) {
  .image1 {
          width: 100%;
          height: 150px;
          object-fit: cover;
          display:center;}


   }
